# dependencies
/node_modules

# docusaurus generated
/.docusaurus

# build output
/build

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# os / editor
.DS_Store
Thumbs.db

# misc
.vscode/
*.suo
